/*define common class*/
.borderNo {
  border: none !important;
}
.pb5 {
  padding-bottom: 5rem;
}
.mb5 {
  margin-bottom: 5rem;
}
.mt48 {
  margin-top: 4.8rem !important;
}
.mt5 {
  margin-top: 5rem !important;
}
.mt6 {
  margin-top: 6rem !important;
}
.mt7 {
  margin-top: 7rem !important;
}
.mt4 {
  margin-top: 4rem !important;
}
.mt1 {
  margin-top: 1rem !important;
}
.mt0 {
  margin-top: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.display_none {
  display: none;
}
.none {
  display: none;
}
.block {
  display: block;
}
.bt {
  border-bottom: 1px solid #dbdbdb;
}
.pt6 {
  padding: 4.8rem 0 6rem 0;
}
.clearfix {
  float: none;
}
.Z5tl {
  text-align: left;
}
.ddzf {
  color: #ff5b28;
}
.bg_sl {
  background: #e6133c;
}
.fontColor_bs {
  color: #ffffff !important;
}
.fontColor_hs {
  color: #000000 !important;
}
.colorGrey {
  color: #cccccc !important;
}
.minHeight2 {
  overflow: hidden !important;
  height: auto !important;
  min-height: 2rem !important;
  text-align: left !important;
  padding-bottom: 5px;
}
.qh {
  color: #888888;
}
.hs {
  color: #e51c23;
}
.ls {
  color: #30d380;
}
.JWColor0 {
  color: #e51c23;
}
.JWColor1 {
  color: #ff9904;
}
.JWColor2 {
  color: #259b24;
}
.JWColor3 {
  color: #ff5722;
}
.JWColor4 {
  color: #888888;
}
.JWColor5 {
  color: #ffffff;
}
.bold {
  font-weight: bold !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*A1*/
.N1_text {
  margin: 10% 10% 6% 10%;
  text-align: center;
  font-size: 24px;
}
.N1_num {
  height: 2rem;
  line-height: 2rem;
}
.B2_phone1 {
  display: block;
  margin: 20px auto;
  width: 80%;
  padding: 8px;
  border: none;
}
::-webkit-input-placeholder {
  color: #888888;
  font-size: 16px;
}
.B2_phone2 {
  display: block;
  width: 55%;
  padding: 8px;
  border: none;
  float: left;
  margin: 0 0 0 2rem;
}
.A1_log {
  display: block;
  background: #e6133c;
  border: none;
  width: 60%;
  margin: 1rem auto;
  color: #ffffff;
  font-size: 18px;
}
.A1_mark {
  margin: 10px 20px;
  padding: 0 10px;
  text-align: right;
  font-size: 14px;
  color: #888888;
}
.A1_mark .A1_text {
  padding: 0 20px 0 0;
}
.errInfo {
  height: 1rem;
  margin-top: 2rem;
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}
.yl_logo {
  width: 10rem;
  height: auto;
}
/*A2*/
.A2_sign {
  margin: 0 1rem 1rem 1rem;
  overflow: hidden;
}
.A2_code {
  display: inline !important;
  width: 63% !important;
}
.A2_check {
  display: inline-block;
  width: 30% !important;
  height: 37px !important;
  border: none;
  background: #e6133c;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
}
@media screen and (max-width: 320px) {
  .A2_check {
    width: 28% !important;
  }
}
.A2_phone1 {
  display: block;
  margin: 10px auto;
  width: 100%;
  padding: 8px;
  border: none;
  height: 2rem;
  line-height: 2rem;
}
.A2_sign img {
  width: 30%;
  height: auto;
  vertical-align: middle;
}
.A2_mt20 {
  margin-top: 20px !important;
}
.A2_mark {
  font-size: 12px;
  text-align: left;
  margin-left: 0;
}
.A2_mark input {
  vertical-align: middle;
}
.A2_mark span:nth-of-type(1) {
  color: #000000;
}
.A2_mark span:nth-of-type(2) {
  color: #e6133c;
}
/*A3*/
.A3_wrap {
  margin: 10px 5px;
  font-size: 14px;
}
.A3_wrap p {
  line-height: 25px;
}
.A3_wrap ol li {
  text-indent: 2rem;
  line-height: 25px;
}
/*A4*/
.A4_top8 {
  margin-top: 0;
}
/*A5*/
.A5_Info {
  margin: 20px 10px 10px 20px;
  font-size: 14px;
}
.A5_mt0 {
  margin-top: 0;
}
/*B1*/
.B1_num {
  line-height: 4rem !important;
  color: #E6133C !important;
  margin-left: 1rem;
  font-size: 16px !important;
}
.cz:before {
  content: "充足";
  background: #e6133c;
  color: #CF4030;
  border-radius: 5px;
  width: 65px;
  text-align: center;
  color: #ffffff;
  display: block;
}
.jz:before {
  content: "紧张";
  background: #ff0000;
  color: #CF4030;
  border-radius: 5px;
  width: 65px;
  text-align: center;
  color: #ffffff;
  display: block;
}
.B1_ys {
  float: right;
  margin-right: 5px;
  line-height: 4rem;
  font-size: 14px;
  color: #a8a8a8;
}
.B1Course {
  position: fixed;
  top: 4.8rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
  padding: 10px 0;
  z-index: 1000000;
}
.B1Course li {
  float: left;
  width: 31%;
  margin: 0 1%;
}
.B1Course li select {
  width: 100%;
  padding: 2px 8px;
  border-radius: 5px;
  color: #999999;
  font-size: 14px;
}
/*B2*/
.B2_borderNo {
  border-bottom: none;
}
.B2_price {
  color: #e6133c;
  font-weight: bold;
}
@media screen and (width: 375px) {
  .C1_TextInfo {
    padding: 5px 10px;
  }
}
.B2Details {
  position: relative;
}
.B2Details .mby {
  position: absolute;
  left: 33%;
}
.B2DetailsNew {
  display: flex;
  justify-content: space-between;
  flex: none;
}
.B2DetailsNew .priceNew {
  flex-basis: 37%;
  align-self: center;
}
.B2DetailsNew .mby {
  box-sizing: border-box;
  flex-basis: 63%;
  padding: 0 5px 0 0;
  text-align: justify;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 320px) {
  .B2DetailsNew .priceNew {
    flex-basis: 45%;
  }
  .B2DetailsNew .mby {
    flex-basis: 55%;
  }
}
.saledNew {
  margin-top: 8px;
  text-align: right;
}
/*B2_1*/
.B21Wrap {
  margin: 10px 0;
  background: #ffffff;
}
.B21Wrap h1 {
  margin: 0 10px 10px 10px;
  padding: 18px 10px;
  border-bottom: 1px solid #999999;
}
.B21Wrap .ggTitle {
  margin: 0 10px;
  padding: 5px 0;
}
.B21Wrap .ggTitle h3 {
  font-size: 12px;
  color: #999999;
  font-weight: normal;
}
.B21Wrap .ggTitle p span {
  display: inline-block;
  margin: 10px 2.5%;
  padding: 3px 10px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
}
.B21Wrap .ggTitle p .xqFirst {
  background: #e6133c;
  color: #ffffff;
}
.B21Wrap .ggTitle p .rqSecond {
  color: #999999;
}
.B21Price {
  background: #ffffff;
  padding: 10px;
}
.B21Price span:nth-of-type(1) {
  font-size: 14px;
}
.B21Price span:nth-of-type(2) {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #e6133c;
}
.B21confine {
  background: #e6133c !important;
  color: #ffffff;
  padding: 0.5rem 10px;
}
/*B3*/
.select_SA7 {
  padding: 0 10px;
  z-index: 10000;
}
.xjry {
  padding: 2px 5px;
  background: #9ccc65;
  float: right;
  color: #ffffff;
  border-radius: 5px;
}
.B3Border {
  overflow: hidden;
}
.msgBoard {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
}
textarea::-webkit-input-placeholder {
  font-size: 14px;
}
/*B3_1*/
.B31Child {
  padding: 15px 10px;
  font-size: 16px;
  font-weight: normal;
  color: #999999;
}
/*E2*/
.E2Color1 {
  color: #e6133c !important;
}
.E2Color2 {
  color: #e6133c;
}
.E2_top2 {
  margin-top: 2rem;
}
.E2_ml3 {
  float: right;
}
.E2_ml3 img {
  vertical-align: middle;
  margin-left: 2rem;
}
.oneCharacter {
  color: #a8a8a8;
  font-size: 14px;
  margin-left: 5px;
}
.productRecommend {
  margin: 15px 0;
}
.productRecommend ul {
  overflow: hidden;
}
.productRecommend li {
  width: 40%;
  float: left;
}
.productRecommend li:nth-of-type(1),
.productRecommend li:nth-of-type(3),
.productRecommend li:nth-of-type(5) {
  margin: 10px 6.6666666%;
}
.productRecommend li:nth-of-type(2),
.productRecommend li:nth-of-type(4),
.productRecommend li:nth-of-type(6) {
  margin: 10px 6.66666666% 10px 0;
}
.productRecommend li img {
  width: 100%;
}
.productRecommend li .productIntroduceInfo {
  width: 100%;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.productRecommend li .productPrice {
  font-weight: bold;
  color: #E6133C;
}
/*关注公众号弹出框*/
#layer {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.wrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.wrap .get_success {
  width: 80%;
  background: #F6F6F7;
  margin: 10% auto;
}
.wrap .get_success .down_border {
  border: 1px solid #DBDBDC;
  /*border-top:none;*/
}
#bg {
  background: url(../images/photo/bg.png) no-repeat;
  background-position: center center;
}
.wrap .get_success .top {
  position: relative;
  margin-top: 30%;
  width: 100%;
  height: 11.5rem;
  text-align: center;
  z-index: 1000;
}
.wrap .get_success .top .close {
  position: absolute;
  top: 0;
  right: 0;
}
.wrap .get_success .top dt {
  padding-top: 18%;
}
.wrap .get_success .top dt img {
  width: 3rem;
  height: 3rem;
}
.wrap .get_success .top dd {
  color: #FCF7F9;
  font-size: 1.6rem;
}
.wrap .get_success .top dd img {
  margin: 7.672px 0;
}
.wrap .get_success .focus_info {
  color: #4A4A4A;
  width: 80%;
  margin: 8% auto;
  text-align: center;
}
.wrap .get_success .scan {
  width: 80%;
  height: 8rem;
  margin: 0 auto;
}
.wrap .get_success .scan dt {
  float: left;
  margin-right: 5%;
}
.wrap .get_success .scan img {
  width: 8rem;
  height: 8rem;
  margin: 8% auto;
}
.wrap .get_success .scan .second img {
  margin: 7.672px 0;
}
.wrap .get_success .no_scan {
  color: #888689;
  margin: 8% auto;
  text-align: center;
  font-size: 14px;
}
.wrap .get_success .wait {
  color: #BEBCBA;
  margin: 8% auto;
  text-align: center;
  font-size: 14px;
}
#bg_white {
  background: #fff;
}
.N2_2bg {
  background: #704f1e;
}
.F1_twoImg {
  text-align: center;
}
.F1_twoImg img {
  width: 40%;
  height: auto;
}
@media screen and (max-width: 320px) {
  #scan {
    width: 80%;
  }
}
@media screen and (min-width: 322px) and (max-width: 375px) {
  #scan {
    width: 71%;
  }
}
@media screen and (min-width: 377px) and (max-width: 420px) {
  #scan {
    width: 62%;
  }
}
.Info {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  text-align: right;
  color: #fff;
  font-size: 1.6rem;
}
.Info dt {
  width: 5rem;
  height: 5rem;
  margin-left: 84%;
  margin-top: -10px;
}
.Info dt img {
  width: 100%;
  height: 100%;
}
.Info dd {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  margin-top: -1rem;
}
.Info dd img {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
}
/*E3*/
.E3_relative {
  position: relative;
}
.E3_textInfo {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.E3_textInfo h3 {
  font-weight: normal;
  font-size: 16px;
  margin: 5px 0;
}
.E2Logo {
  width: 3rem;
  height: auto;
  vertical-align: middle;
}
/*D1*/
.D1_topInfo {
  padding: 10px 0;
  margin: 0 0 10px 0;
  background: #ffffff;
}
.D1_topInfo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 10px;
}
.D1_listInfo {
  padding: 10px 0;
  background: #ffffff;
  padding: 15px 10px;
  border-bottom: 1px solid #dbdbdb;
}
.D1_listInfo img {
  float: right;
  width: 1rem;
  height: auto;
}
.D1Wrap {
  float: right;
}
.D1ChildNum {
  margin-right: 10px;
  font-size: 14px;
}
/*B5*/
.B5_wrap {
  margin: 4rem 10px;
  background: #ffffff;
  padding: 20px 10px 30px 10px;
  text-align: center;
}
.B5_wrap img {
  width: 5rem;
  height: auto;
  vertical-align: middle;
}
.B5_wrap p {
  margin-top: -1rem;
}
.B5_bg {
  background: #e6133c !important;
}
/*B4*/
.B4_color {
  color: #e6133c;
}
.B4_imgSize {
  width: 2rem !important;
  height: auto;
}
.B4_padding {
  padding: 0.5rem 0 !important;
}
/*B3*/
.B3_wrap {
  margin: 10px 0;
  border: none;
}
.B3_wrap dl {
  padding: 15px 0;
  height: 2rem;
  line-height: 2rem;
}
.B3_container {
  zoom: 1;
  float: right;
  width: 12rem;
  border-radius: 5px;
  text-align: right;
}
.B3_Minus {
  background: url("../images/icon/Minus01.svg") no-repeat center center;
}
.B3_plus {
  background: url("../images/icon/plus01.svg") no-repeat center center;
}
.B3_Minus,
.B3_plus {
  background-size: 1.5rem auto;
  background-color: transparent;
  border: none;
  width: 12% !important;
}
.B3_num {
  padding: 5px 5px;
  margin-left: 0 !important;
}
.B3_phoneNum input {
  width: 15rem;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid #888888;
}
/*B6*/
.B6_top7 {
  margin-top: 7rem;
}
.B6_bg {
  background: #ffb6c1;
  font-size: 14px;
  display: none;
}
/*D2*/
.D2_top1 {
  margin-top: 1rem;
}
.D2_NC {
  float: right;
}
.D2_NC img {
  margin-left: 1rem;
}
.D2Omit {
  display: inline-block;
  width: 65%;
  margin-left: 10px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
/*D2_1*/
.D21_wrap {
  margin: 10px;
  padding: 10px;
  background: #ffffff;
}
.D21_wrap input {
  width: 100%;
  border: none;
}
.D4_textOverflow {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.D4_status1 {
  background: #e6133c !important;
  color: #fff;
}
.D4_status2 {
  background: #ffb6c1 !important;
  color: #fff;
}
.D4_status3 {
  background: #888888 !important;
  color: #fff;
}
.D6_top5 {
  margin-top: 5rem;
}
.payStatus {
  font-weight: bold;
}
/*D8*/
.D8_border {
  border-bottom: 1px solid #dbdbdb;
}
.D8_color {
  color: #000000 !important;
}
/*D9*/
.D9_video {
  padding: 10px;
  height: auto;
  overflow: hidden;
  margin: 15px 0;
}
.D9_video iframe {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/*Z3页面*/
.Z3Title {
  font-weight: normal;
  padding: 5px 10px;
  color: #888888;
}
.Z3Wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background: #ffffff;
  overflow: auto;
}
.Z3Img img {
  width: 2rem;
  height: auto;
  vertical-align: middle;
}
.Z3New {
  font-size: 16px;
  padding: 1.5rem 10px;
}
.Z3Select {
  max-width: 14rem;
  text-align-last: right;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}
.purchaseTicketWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.purchaseTicketWrap .purchaseTicket {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
  padding: 10px 0 8rem 0;
  background-color: #fff;
}
.purchaseTicketWrap .purchaseTicket h2 {
  font-size: 16px;
  margin-left: 10px;
}
.purchaseTicketWrap .purchaseTicket .noUseTickets {
  font-size: 16px;
}
.purchaseTicketWrap .purchaseTicket .tickets {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
.purchaseTicketWrap .purchaseTicket .tickets p {
  flex-basis: 80%;
  text-align: justify;
}
.purchaseTicketWrap .purchaseTicket .tickets input {
  width: 16px;
  height: 16px;
}
.purchaseTicketWrap .fConfine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E6133C;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
}
.borB {
  border-bottom: 1px solid #dbdbdb;
}
/*Z4页面*/
.Address {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
.maxWidth {
  max-width: 80%;
  word-break: break-all;
}
.productName {
  max-width: 70%;
  text-align: justify;
}
/*Z5页面*/
.Z5payNum {
  margin-left: 10px;
  font-weight: normal;
  font-size: 14px;
}
.Z5payNum .Z5Num {
  margin-left: 5px;
  color: #76a22d;
  font-weight: bold;
}
.Z5Pay {
  float: right;
  margin-right: 10px;
}
/*D21*/
.D21Fixed {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  z-index: 10000;
}
/*D11*/
.asterisk {
  color: #ff5d2a;
  margin: 3px;
}
.D11Input input {
  border: 1px solid #888888;
  padding: 5px;
  width: 3rem;
  border-radius: 5px;
}
.D35Pay {
  width: 100%;
  background: #ffffff;
  padding: 15px 10px;
  text-align: center;
}
.D35Pay span {
  display: inline-block;
  width: 35%;
  color: #ffffff;
  padding: 5px 0;
}
.D35Pay span:nth-of-type(1) {
  background: #e6133c;
  margin: 0 5% 0 0;
}
.D35Pay span:nth-of-type(2) {
  background: #999999;
}
.D10Wrap {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000000;
}
.D10Wrap .D10Content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
}
.D10Wrap .D10Content li {
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 12px 0;
  background: #ffffff;
}
.D10Wrap .D10Content li:nth-of-type(1) {
  background: #aacc03;
}
.D10Wrap .D10Content li:nth-of-type(2) {
  color: #000000;
  border-bottom: 1px solid #dbdbdb;
}
.D10Wrap .D10Content li:nth-of-type(3) {
  color: #000000;
}
.JW10_wrap {
  margin: 10px 0;
}
.JW10_wrap:nth-of-type(1) {
  display: block;
}
.JW10_wrap .saoma {
  text-align: center;
  margin: 200px 20px 0 20px;
  padding: 10px 0;
  background: #2baf2b;
  font-size: 16px;
  color: #ffffff;
  border-radius: 10px;
}
.JW10_wrap .select {
  margin: 0 20px;
}
.JW10_wrap .select select {
  width: 45%;
  padding: 2px 10px 5px 10px;
  border-radius: 5px;
}
.JW10_wrap .select select:nth-of-type(1) {
  margin-right: 8%;
}
.JW10_wrap .course {
  margin: 20px;
  padding: 0 10px;
  border: 1px solid #dbdbdb;
  background: #ffffff;
}
.JW10_wrap .course .top {
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
}
.JW10_wrap .course .top p {
  width: 45%;
}
.JW10_wrap .course .top p:nth-of-type(1) {
  float: left;
}
.JW10_wrap .course .top p:nth-of-type(2) {
  float: right;
  text-align: right;
}
.JW10_wrap .course .top p span {
  display: block;
  margin: 10px 0;
}
.JW10_wrap .course .center {
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
  padding: 5px 0;
}
.JW10_wrap .course .center p {
  float: left;
  text-align: center;
}
.JW10_wrap .course .center p:nth-of-type(1) {
  width: 38%;
  border-right: 1px solid #dbdbdb;
}
.JW10_wrap .course .center p:nth-of-type(2) {
  width: 30%;
}
.JW10_wrap .course .center p:nth-last-of-type(1) {
  width: 30%;
}
.JW10_wrap .course .center p span {
  display: block;
  margin: 10px 0;
}
.JW10_wrap .course .center .shu {
  width: 1%;
  color: #dbdbdb;
  line-height: 6.8rem;
}
.JW10_wrap .course .bottom {
  padding: 15px 0;
}
.JW10_wrap .course .bottom span {
  margin: 0 2px;
}
.JW10_wrap .course .bottom .signIn {
  float: right;
  padding: 2px 5px;
  border: 1px solid #dbdbdb;
}
.JW10_wrap .mine {
  padding: 10px;
  background: #ffffff;
}
.JW10_wrap .mine p {
  overflow: hidden;
  padding: 10px 0;
}
.JW10_wrap .mine p:nth-of-type(1) {
  border-bottom: 1px solid #dbdbdb;
}
.JW10_wrap .changePsw {
  padding: 15px 10px;
  margin: 30px 0;
  background: #ffffff;
}
.JW10_wrap .exit {
  width: 60%;
  margin: 150px auto 0 auto;
  padding: 8px 0;
  text-align: center;
  background: #aacc03;
  color: #fff;
}
.JW10_tab {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  height: 5.2rem;
  background: #f9f9f9;
  z-index: 1001;
}
.JW10_tab ul {
  overflow: hidden;
}
.JW10_tab li {
  float: left;
  width: 33.3333333333%;
  text-align: center;
}
.JW10_tab li img {
  margin-top: 2px;
  width: 25px;
  height: auto;
}
.JW10_tab li span {
  display: block;
  text-align: center;
}
.JW11StudentInfo {
  padding: 0 10px;
  background: #ffffff;
  margin-top: 10px;
}
.JW11StudentInfo p {
  padding: 10px 0;
}
.JW11StudentInfo p:nth-of-type(1) {
  border-bottom: 1px solid #dbdbdb;
}
.JW11StudentInfo p span {
  display: inline-block;
  margin: 0 5px;
}
.JW11_wrap .course {
  margin: 0;
  border: none;
}
.JW11_wrap .course .center p:nth-of-type(1) {
  border: none;
  width: 30%;
}
.JW11_wrap .course .bottom {
  padding: 10px 0;
}
.JW11_wrap .course .bottom .signIn {
  float: right;
  padding: 2px 5px;
  border: 1px solid #dbdbdb;
}
.JW11_wrap .qiandao {
  padding: 15px 0;
  background: #ffffff;
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
}
footer .confirm {
  width: 40%;
  margin: 5px auto;
  background: #2baf2b;
  padding: 5px 0;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
}
/*点击完成按钮的弹层*/
.WJ11_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}
.WJ11_layer .WJ11_container {
  position: absolute;
  top: 10rem;
  left: 10%;
  width: 80%;
  margin: 0 auto;
  height: auto;
  background: #fff;
  border: 1px solid #dbdbdb;
}
.WJ11_layer .WJ11_container p:nth-of-type(1) {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 0;
  border-bottom: 1px solid #dbdbdb;
}
.WJ11_layer .WJ11_container p:nth-of-type(2) {
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: #1C74D9;
}
/*点击重录按钮的弹层*/
.WJ11_relog span {
  display: block;
}
.WJ11_relog span:nth-of-type(2) {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  padding: 10px 10px 0 15px;
}
.WJ11_container li {
  float: left;
  width: 49.5%;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}
.WJ11_container li:nth-of-type(1) {
  border-right: 1px solid #dbdbdb;
}
.WJ11_container li:nth-of-type(2) {
  color: #1C74D9;
  font-weight: bold;
}
.JW22Statistics {
  padding: 10px 0;
}
.JW22Statistics span {
  margin: 0 2px;
}
.JW22Statistics .item {
  margin: 0 5px;
}
.JWbg1 {
  background: #e3e3e3;
}
.JWbg2 {
  background: #259b24;
}
.JW22Wrap {
  background: #ffffff;
  padding: 0 10px;
  overflow: hidden;
  margin-top: 10px;
}
.JW22Wrap:nth-of-type(1) {
  margin-top: 0;
}
.JW22Wrap p {
  margin: 10px 0;
}
.JW22Wrap p span {
  margin: 0 2px;
}
.JW22Wrap .JW22Status {
  margin: 0 15px;
  padding: 0 5px;
}
/*D40页面*/
.teacher {
  border-top: 1px solid #dbdbdb;
  padding: 8px 0;
  text-align: right;
}
.teacher a {
  text-decoration: none;
  color: #000;
}
.teacher span {
  margin: 0 3px;
}
.teacher img {
  width: 20px;
  vertical-align: middle;
  margin-top: -2px;
}
.D40Selected {
  border-bottom: 5px solid #AACC03 !important;
}
.D40Wrap {
  overflow: hidden;
}
.D40Wrap .D40BottomLeft {
  float: left;
}
.D40Wrap .D40BottomLeft .D40Status {
  margin: 2px 0;
  width: 70px;
  text-align: center;
  border: 1px solid #dbdbdb;
}
.D40Wrap .D40BottomRight {
  float: right;
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid #dbdbdb;
}
.D40Wrap .D40BottomRight img {
  width: 20px;
  height: auto;
}
.D40Wrap .D40BottomRight span {
  display: block;
  text-align: center;
}
.D40_container {
  left: 5% !important;
  top: 5rem !important;
  width: 90% !important;
  border: none !important;
}
.D40_container .D40_relog {
  padding: 10px 0 !important;
  background: #aacc03;
  color: #fff;
  font-weight: normal !important;
  font-size: 16px;
  border: none !important;
}
.D40_container .D40StudentInfo {
  padding: 2px 10px;
  overflow: hidden;
  border: 1px solid #dbdbdb;
}
.D40_container .D40StudentInfo p {
  width: 45%;
  font-size: 14px !important;
  font-weight: normal !important;
}
.D40_container .D40StudentInfo p:nth-of-type(1) {
  float: left;
  padding: 10px 0;
  border: none;
}
.D40_container .D40StudentInfo p:nth-of-type(2) {
  float: right;
  padding: 10px 0;
}
.D40_container .D40StudentInfo p:nth-of-type(2) span {
  display: block;
  text-align: right;
}
.D40_container .D40StudentInfo p:nth-of-type(2) span:nth-of-type(2) {
  color: #000;
}
.D40_container .bigCode {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.D40_container .textInfo {
  margin: 0 20px;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #000 !important;
  text-align: left !important;
}
.D40_container .close {
  padding: 10px 0;
  text-align: center;
  color: #888;
}
.D50Bottom {
  overflow: hidden;
}
.D50Bottom li {
  float: left;
}
.D50Bottom li:nth-of-type(1) {
  width: 80%;
}
.D50Bottom li:nth-of-type(2) {
  width: 20%;
  text-align: center;
}
.D50Bottom li:nth-of-type(2) span {
  padding: 0 8px;
  border: 1px solid #dbdbdb;
}
.D42Wrap {
  margin: 10px 10px 0 10px;
}
.D42Wrap .course {
  border: 1px solid #dbdbdb;
}
.D42Wrap .course .top {
  border: none;
}
.D42Wrap .D42TextInfo {
  margin: 10px;
}
.D42Wrap .D42Course {
  border: 1px solid #dbdbdb;
}
.D42Wrap .D42Course li {
  border-bottom: 1px solid #dbdbdb;
  padding: 5px 10px;
  background: #ffffff;
  position: relative;
}
.D42Wrap .D42Course li p {
  margin: 5px 0;
}
.D42Wrap .D42Course li p span {
  margin: 0 3px;
}
.D42Wrap .D42Course li:nth-last-of-type(1) {
  border: none;
}
.D42Wrap .D42Course li .zjks {
  display: block;
  position: absolute;
  right: 10px;
  top: 40%;
  padding: 2px 5px;
  background: #8bc34a;
  color: #fff;
}
.Z51Wrap0 {
  margin: 1rem 0;
  border: none;
}
.Z51Wrap {
  margin: 1rem 0 5rem 0;
  border: none;
}
.z51CommonIssue {
  font-weight: normal;
  padding: .5rem;
}
.z51Text {
  margin: 1rem 0;
  text-align: justify;
}
.z51Text a {
  text-decoration: none;
}
.z51Zfxe {
  width: 70%;
  display: block;
  margin: 1rem auto;
}
.ticketWrap {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background: #ffffff;
}
.ticketWrap .tMoney {
  flex-basis: 28%;
  text-align: center;
  box-sizing: border-box;
  color: #E6133C;
}
.ticketWrap .tMoney .Num {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .ticketWrap .tMoney .Num {
    font-size: 14px;
    font-weight: bold;
  }
}
.ticketWrap .tNorms {
  position: relative;
  box-sizing: border-box;
  padding: 5px 10px;
  border-left: 3px dotted #dbdbdb;
  border-right: 3px dotted #dbdbdb;
}
.ticketWrap .tNorms .halfCircle {
  position: absolute;
  width: 16px;
  left: -10px;
  top: -6px;
}
.ticketWrap .tNorms .halfCircle2 {
  position: absolute;
  width: 16px;
  left: -10px;
  bottom: -6px;
}
.ticketWrap .tNorms .used {
  position: absolute;
  width: 45px;
  right: 0;
  top: 0;
}
.ticketWrap .tNorms strong {
  display: block;
  font-size: 18px;
  text-align: center;
  margin: 2px auto;
}
.ticketWrap .tNorms p {
  font-size: 14px;
}
.ticketWrap .fb50 {
  flex-basis: 50%;
}
.ticketWrap .fb75 {
  flex-basis: 72%;
}
.ticketWrap .tGet {
  flex-basis: 25%;
  text-align: center;
}
.ticketWrap .tGet span {
  display: inline-block;
  padding: 3px 5px;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
}
.ticketWrap .tGet .yesRed {
  width: 60px;
  background-color: #E6133C;
}
.ticketWrap .tGet .noGrey {
  width: 60px;
  background-color: #ccc;
}
.ticketUseTab {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.ticketUseTab div {
  flex-basis: 33.33333333%;
  text-align: center;
  box-sizing: border-box;
  height: 3.5rem;
  line-height: 3.5rem;
}
.ticketUseTab div:nth-of-type(1) {
  border-right: 1px solid #dbdbdb;
}
.ticketUseTab div:nth-last-of-type(1) {
  border-left: 1px solid #dbdbdb;
}
.ticketUseTab .tabActive {
  border-bottom: 2px solid #E6133C;
  color: #E6133C;
}
.ticketUseWrap {
  margin: 10px 10px;
}
.borrightNo {
  border-right: none !important;
}
.ticketTime {
  color: #cccccc;
}
.ticketNoWrap {
  width: 167px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ticketNoWrap2 {
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ticketNoWrap3 {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ticketLjlq {
  display: block;
  width: 90%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin: 20px auto;
}
.ticketRed {
  background-color: #E6133C;
}
.ticketTwoBtn {
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.ticketTwoBtn button {
  flex-basis: 45%;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #888;
}
.chooseTextWrap {
  width: 70%;
}
.chooseTextWrap .chooseText {
  display: inline-block;
  width: 90%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chooseTextWrap .arrow_rightNew {
  float: right;
  width: 10px;
}
